mixin AdsSquare()
    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9066340169838562" crossorigin="anonymous")
    ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9066340169838562" data-ad-slot="7136951467" data-ad-format="auto" data-full-width-responsive="true")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});