style
    include ./styles.scss

mixin AdsSquare()
    div.ads_square_container
        script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9066340169838562" crossorigin="anonymous")
        ins(class="adsbygoogle" style="display:inline-block;width:250px;height:250px" data-ad-client="ca-pub-9066340169838562" data-ad-slot="7136951467")
        script.
            (adsbygoogle = window.adsbygoogle || []).push({});