style
  include styles.module.scss

div.dashboard
  h2.label Novidades
  table.table
    tbody
      each recipe in news
        tr.line
          td
            a(href=`/receita/${recipe.slug}` title=`Receita de ${recipe.name}`) #{recipe.name}

