include ../../../components/input/index.pug
include ../../../components/button/save.pug
include ../../../components/button/cancel.pug

div
    form(id="_company_form")
        div
            input(hidden=true id="category_form_id" name="id" value= "")
            +Input({ name: "category_form_name", value: "", title: "Nome", type: "text", })
        div.group.right
            +ButtonSave()
            +ButtonCancel({ callback: `toggleModal('${modalId}')` })

script.
    const idField = document.getElementById('category_form_id');
    const nameField = document.getElementById('category_form_name');

    const handleOpenFormModal = (modalId, id = '') => {
        if (id) {
            fetch(`/administrator/companies/${id}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then((res) => {
                if (!res.ok) throw new Error('Algo de errado aconteceu.');
                return res.json()
            })
            .then(json => {
                if (idField) idField.value = json.id;
                if (nameField) nameField.value = json.name;
                toggleModal(modalId);
            })
            .catch((err) => {
                console.error(err);
                alert(err.message);
            });
        } else {
            if (idField) idField.value = '';
            if (nameField) nameField.value = '';
            toggleModal(modalId);
        }
    }

    const handleSubmiteCategoryForm = (e) => {
        e.preventDefault();
        const id = idField.value;
        const name = nameField.value;
        const method = id ? 'PUT' : 'POST'
        payload = { id, name }
        fetch(`/administrator/companies/${id}`, {
            method,
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
      .then((res) => {
        if (!res.ok) throw new Error('Algo de errado aconteceu.');
        return res.json()
      })
      .then(json => {
        alert('Atualizado com sucesso');
        document.location.reload();
      })
      .catch((err) => {
        console.error(err);
        alert(err.message);
      });
    }
    

    const form = document.getElementById("_company_form");
    if (form) {
    form.addEventListener("submit", async function (e) {
        handleSubmiteCategoryForm(e);
    });
    }