include ../components/input/index.pug
include ../components/button/index.pug
include ../components/footer/index.pug

style
  include styles.scss

div.sign_in_container
  div.sign_in_box
    div.sign_in_content
      img(src="/public/webeditor.png" alt="WEBEditor logo")
      div.sign_in_header
        p Bem vindo ao WEBEditor!
        p.small Entre com suas credenciais para acesso ao sistema.
      div.sign_in_form
        form(id="_sign_in_form")
          +Input({ name: "username", value: "", title: "E-mail", type: "text", placeholder: "Entre com seu e-mail", required: true })
          +Input({ name: "password", value: "", title: "Senha", type: "password", placeholder: "Entre com sua senha", required: true })
          +Button({ title: "Entrar", type: "submit" })
      div.sign_in_footer
        p esqueci minha senha!
  +Footer()

script.
  // sign-out
  fetch("/sign-out", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
  }).then(() => {
    localStorage.removeItem("WEBEditor:User");
    localStorage.removeItem("WEBEditor:Token");
  })

  function handleSubmit(e) {
    e.preventDefault();
    const usernameElement = document.getElementById("username");
    const passwordElement = document.getElementById("password");
    let username = "";
    let password = "";
    if (usernameElement) username = usernameElement.value;
    if (passwordElement) password = passwordElement.value;
    payload = { grant_type: 'password', username, password}
    fetch("/sign-in", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(payload),
    })
      .then((res) => {
        if (!res.ok) throw new Error('Algo de errado aconteceu.');
        return res.json()
      })
      .then(json => {
        localStorage.setItem("WEBEditor:User", JSON.stringify(json.user))
        localStorage.setItem("WEBEditor:Token", JSON.stringify(json.token))
        document.location.href="/";
      })
      .catch((err) => {
        console.error(err);
        alert("Algo de errado ao realizar o login.");
      });
  }

  const form = document.getElementById("_sign_in_form");
  if (form) {
    form.addEventListener("submit", async function (e) {
      handleSubmit(e);
    });
  }