.sign_in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/public/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.sign_in_content {
  & * {
    color: var(--white);
  }
}
