style
    include style.scss

mixin ButtonCancel({ callback })
    button.form_button.form_button_cancel(onclick=callback, type='button', title="Cancelar")
        span Cancelar
            i(class="fa fa-xmark")