style
    include style.scss

mixin ButtonCancel({ callback, title='Cancelar', label='Cancelar' })
    button.form_button.form_button_cancel(onclick=callback, type='button', title=title)
        span #{label}
            i(class="fa fa-xmark")