style
    include style.scss

mixin ButtonClear()
    button.form_button.form_button_clear(type='button', onclick="document.location.href='?'", title="Limpar formulário")
        i(class="fa fa-broom")