style
    include style.scss

mixin ButtonConfirm({ callback='', id="_basic_confirm_button", title='Confirmar', label='Confirmar' })
    button.form_button.form_button_confirm(onclick=callback, id=id, type='button', title=title)
        span #{label}
            i(class="fa fa-check")