.form_button {
  background-color: var(--grey100);
  font-size: 0.875rem;
  font-weight: 700;
  height: 2.5rem;
  color: var(--grey900) !important;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.form_button_clear {
  i {
    color: var(--grey900) !important;
  }
}

.form_button_search {
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--grey900) !important;
    flex-wrap: nowrap;
    i {
      color: var(--grey900) !important;
    }
  }
}

.form_button_save {
  background-color: var(--success);
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white) !important;
    flex-wrap: nowrap;
    i {
      color: var(--white) !important;
    }
  }
}

.form_button_cancel {
  background-color: var(--danger);
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--grey100) !important;
    flex-wrap: nowrap;
    i {
      color: var(--grey100) !important;
    }
  }
}

.form_button_new {
  background-color: var(--success);
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white) !important;
    flex-wrap: nowrap;
    i {
      color: var(--white) !important;
    }
  }
}

.form_button_confirm {
  background-color: var(--success);
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white) !important;
    flex-wrap: nowrap;
    i {
      color: var(--white) !important;
    }
  }
}
