include ../../components/input/index.pug
include ../../components/select/index.pug
include ../../components/button/save.pug
include ../../components/button/cancel.pug

div
    form(id="_newsletter_form")
        div
            input(hidden=true id="newsletter_form_id" name="id" value= "")
            +Input({ name: "newsletter_form_name", value: "", title: "Nome", type: "text", })
            +Input({ name: "newsletter_form_email", value: "", title: "E-mail", type: "text", })
            +Select({ name: "newsletter_form_active", value: "", title: "Ativo", datas:[{value:"", label:"Selecione"}, {value:"1", label:"Sim"}, {value:"0", label:"Não"}] })
        div.group.right
            +ButtonSave()
            +ButtonCancel({ callback: `toggleModal('${modalId}')` })

script.
    const idField = document.getElementById('newsletter_form_id');
    const nameField = document.getElementById('newsletter_form_name');
    const emailField = document.getElementById('newsletter_form_email');
    const activeField = document.getElementById('newsletter_form_active');

    const handleOpenFormModal = (modalId, id = '') => {
        if (id) {
            fetch(`/institutional/newsletters/${id}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then((res) => {
                if (!res.ok) throw new Error('Algo de errado aconteceu.');
                return res.json()
            })
            .then(json => {
                if (idField) idField.value = json.id;
                if (nameField) nameField.value = json.name;
                if (emailField) emailField.value = json.email;
                if (activeField) activeField.value = json.active;
                toggleModal(modalId);
            })
            .catch((err) => {
                console.error(err);
                alert(err.message);
            });
        } else {
            toggleModal(modalId);
        }
    }

    const handleSubmiteNewsletterForm = (e) => {
        e.preventDefault();
        const id = idField.value;
        const name = nameField.value;
        const email = emailField.value;
        const active = activeField.value;
        payload = { id, name, email, active }
        fetch(`/institutional/newsletters/${id}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
      .then((res) => {
        if (!res.ok) throw new Error('Algo de errado aconteceu.');
        return res.json()
      })
      .then(json => {
        alert('Atualizado com sucesso');
        document.location.reload();
      })
      .catch((err) => {
        console.error(err);
        alert(err.message);
      });
    }
    

    const form = document.getElementById("_newsletter_form");
    if (form) {
    form.addEventListener("submit", async function (e) {
        handleSubmiteNewsletterForm(e);
    });
    }