.recipe_image_label {
  font-size: 2rem;
  border-bottom: 1px solid;
  color: var(--primary_dark);
}

.recipe_image_item {
  display: grid;
  margin-top: 1rem;
  gap: 1.6rem;

  a {
    text-decoration: none;
  }

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1080px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.recipe_image_card {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: var(--brown_300);
  color: var(--secondary_light);

  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s;

  &:hover {
    background: var(--primary_dark);
  }

  img {
    width: 100%;
  }
}

.recipe_image_card_label {
  color: currentColor;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 8px;
  transition: color 0.2s;
}
