style
  include styles.module.scss

div(id="_rating_form_msg").hidden._rating_msg_item
  div._rating_msg_item_header
    p(id="_rating_form_msg_name")._rating_msg_item_name Nome Completo
    p Comentário enviado para avaliação.
    p(id="_rating_form_msg_rate")._rating_msg_item_rate 10
  p(id="_rating_form_msg_comment")._rating_msg_item_comment Comentário enviado, espero que seja muito comentado.

div(id="_rating_form_div").rating_form
  form(id="_rating_form")
    div.select
      label(for="_rating_rate") Sua avaliação:
      select(name="rate" id="_rating_rate")
        option(value="2") Nota 2
        option(value="4") Nota 4
        option(value="6") Nota 6
        option(value="8") Nota 8
        option(value="10" selected) Nota 10

    div.input
      label(for="_rating_name") Seu nome:
      input(name="name" type="text" id="_rating_name")

    div.textarea
      label(for="_rating_comment") Deixe seu comentário:
      textarea(name="comment", cols="30", rows="10" id="_rating_comment")

    .submit
      button(type="submit" title="Enviar meu comentário para avaliação.") Enviar
