style
  include styles.module.scss

if recipes.length > 0
  div
    if title
      h2.recipe_list_label #{title}
    table.recipe_list_table
      tbody
        each recipe in recipes
          tr.recipe_list_line
            td
              a(href=`/receita/${recipe.slug}` title=`Receita de ${recipe.name}`) #{recipe.name}
