.recipe_list_label {
  font-size: 2rem;
  border-bottom: 1px solid;
  color: var(--primary_dark);
}

.recipe_list_table {
  width: 100%;
}

.recipe_list_line {
  height: 2.8rem;
  transition: background-color 0.2s;
  cursor: pointer;

  &:nth-child(even) {
    background-color: var(--gray_100);
  }

  & td {
    & span._rating_stars {
      color: var(--primary_dark);
      font-weight: 500;

      @media (max-width: 43.75em) {
        display: none;
      }
    }
  }

  & td a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    text-decoration: none;
    color: var(--black);
  }

  & td:hover {
    background: var(--primary_dark);
  }

  & td:hover a {
    color: var(--primary_light);
  }
}
