.newsletter_form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary_light);
  color: var(--primary_dark);
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary_dark);
  border-radius: 4px;
  font-size: 1.8rem;

  & .input {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    & input {
      font-size: 1.6rem;
      background-color: var(--white);
      color: var(--black);
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid var(--primary_dark);
    }
  }

  & .submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0.5rem 0;

    & button {
      font-size: 1.8rem;
      background-color: var(--primary_dark);
      color: var(--primary_light);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
    }
  }
}

.hidden {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

._newsletter_msg_item {
  padding: 0.5rem 1rem;
  background-color: var(--primary_dark);
  color: var(--primary_light);
  border-radius: 4px;
  margin: 1rem 0;

  ._newsletter_msg_item_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
