style
    include styles.scss

mixin Footer()
  footer.footer_container
      p powered by&nbsp;
        a(href="https://www.linkedin.com/in/zangeronimo" target="_blank" title="Ir para página do autor") /in/zangeronimo
