.footer_container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--blue800);
  padding: 1rem;
  padding-right: 2rem;
  margin-top: auto;
  width: 100%;

  & p {
    color: var(--white);
    & a {
      color: var(--grey200);
    }
  }
}
