style
  include styles.module.scss

div.header
  div.left
    a(href="/" title="Ir para a página inicial")
      img.logo(src="/public/images/maisreceitas.png", alt="maisreceitas.com.br")
    span.show_menu
      i.fa-solid.fa-bars(onclick="showSideBar()")
  div.right
    form(method="get" action="/pesquisar")
      div.search
        input(type="text" name="search" placeholder="O que está procurando?" required value=query)
        button(type="submit"  aria-labelledby="Pesquisar" title="Pesquisar")
          i.fa-solid.fa-search
