style
  include styles.module.scss

div.header
  a(href="/" title="Ir para a página inicial")
    img.logo(src="/public/images/maisreceitas.png", alt="maisreceitas.com.br")
  span(onclick="showSideBar()").show_menu S
