.datagrid {
  padding: 1rem 0 0 0.05rem;
  .table_container {
    overflow-x: auto;
    width: auto;

    table {
      width: 100%;
      padding-bottom: 0.3rem;
      border-bottom: 3px solid var(--blue500);

      thead tr {
        background-color: var(--blue800);
      }

      th {
        span {
          display: flex;
          align-items: center;
          gap: 1rem;
          text-transform: uppercase;
          text-wrap: nowrap;
          padding: 0.5rem;
          font-size: 1rem;

          i {
            cursor: pointer;
          }
        }
      }

      tbody tr:nth-child(even) {
        background-color: var(--blue700);
      }

      td {
        padding: 0.5rem;
      }
    }

    @media (max-width: 43.75em) {
      table {
        border: 0;

        thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        tr:nth-child(even) {
          background-color: transparent;
        }

        tr {
          border: 1px solid var(--blue800);
          border-bottom: 3px solid var(--blue800);
          display: block;
          margin-bottom: 0.625em;
        }

        td {
          padding: 0.425em;
          border-bottom: 1px solid var(--blue800);
          display: block;
          font-size: 0.8em;
          text-align: right !important;
          min-height: 2rem;
        }

        td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }

        td:last-child {
          border-bottom: 0;
        }
      }
    }
    .datagrid_left {
      text-align: left;
    }

    .datagrid_center {
      text-align: center;
    }

    .datagrid_right {
      text-align: right;
    }

    .datagrid_tools {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}
