:root {
  font-size: 75%;

  --white: #f8f8f8;
  --black: #181818;

  --primary_dark: #823f15;
  --primary_light: #fff1cc;
  --secondary_dark: #999591;
  --secondary_light: #eaeaea;

  --success: #198754;
  --danger: #dc3545;
  --info: #39848b;
  --warning: #f0a607;

  --background: #a7af7e;

  --grey50: #e0e0e0;
  --grey100: #c8c8c9;
  --grey200: #b4b4b6;
  --grey900: #2e2e2e;

  --blue50: #e9f7ff;
  --blue100: #98c7e4;
  --blue200: #6da6c9;
  --blue500: #0a5d8d;
  --blue600: #5975ff;
  --blue700: #054164;
  --blue800: #043552;
  --blue900: #022a41;
  --blue950: #011e30;

  --small_devices: 43.75em;
  --medium_devices: 56.25rem;
  --normal_devices: 75rem;
  --big_devices: 93.75rem;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  font-size: 1.25rem;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: var(--black);
}

body {
  max-width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  &[modal] {
    overflow: hidden;
    padding-right: 1.1rem;
  }
}

strong {
  font-family: inherit;
  font-weight: 700;
}
a {
  &:link,
  &:active {
    color: var(--black);
  }
  &:visited {
    color: var(--grey900);
  }
}
button {
  cursor: pointer;
}
p {
  line-height: 1.25rem;
}

.small {
  font-size: 80%;
  color: var(--grey100) !important;
}

.container_auth {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  background-color: var(--blue900);
}

.content_wrap {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100vw;

  @media (min-width: 43.75em) {
    max-width: calc(100vw - 20rem);
  }

  & .content {
    padding: 1rem;
    padding-right: 2rem;
    & * {
      color: var(--white);
    }
  }
}

@media (min-width: 650px) {
  :root {
    font-size: 62.5%;
  }

  .container {
    flex-direction: row;
  }

  .content {
    position: relative;
    padding-right: 3rem;
  }
}

.box {
  background-color: var(--blue950);
  padding: 1rem;
  border-radius: 4px;
}

.group {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}
