.sidebar {
  grid-column: 1;
  grid-row: 1/-1;
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  padding: 2rem;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--blue950);
  min-width: 25rem;
  max-width: 25rem;
  height: auto;

  @media (min-width: 43.75em) {
    display: flex;
    position: inherit;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item {
  overflow-y: auto;
  height: 100%;

  @media (min-width: 43.75em) {
    overflow-y: hidden;
    height: none;
  }
}

.sidebar_item {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;
  transition: color 0.2s;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    & i {
      color: var(--grey100);
      font-size: 1.5rem;
    }

    & a {
      text-decoration: none;
      color: var(--grey100);
      font-size: 2rem;
    }

    & span {
      color: var(--grey100);
      font-size: 2rem;
    }

    svg {
      margin: 0 8px;
      margin-right: 16px;
    }

    &:hover {
      color: var(--grey50);
    }
  }
}

.sub_items {
  display: none;
  gap: 1rem;
  height: auto;
  padding: 0.5rem 0;
  background-color: var(--blue900);

  li {
    width: 100%;
    transition: all 0.1s;
    & a {
      display: block;
      font-size: 1.8rem;
      width: 100%;
      color: var(--grey100);
      padding: 4px 0px;
      text-decoration: none;
      padding-left: 1rem;
    }

    &:hover {
      background: var(--blue800);

      & a {
        color: var(--grey50);
      }
    }
  }
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;

  button {
    border: 0;
    background: none;
    font-size: 3.6rem;
    margin-top: -1rem;
    color: var(--white);
  }

  & img {
    max-width: 15rem;
  }

  @media (min-width: 43.75em) {
    & button {
      display: none;
    }
  }
}

.show_sidebar {
  display: flex;
}

.show_submenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
