include ../../../components/input/index.pug
include ../../../components/select/index.pug
include ../../../components/button/save.pug
include ../../../components/button/cancel.pug

div
    form(id="_category_form")
        div
            input(hidden=true id="category_form_id" name="id" value= "")
            div.group
                +Input({ disabled: true, name: "category_form_slug", value: "", title: "Slug", type: "text", })
            div.group
                +Input({ name: "category_form_name", value: "", title: "Nome", type: "text", })
            div.group
                +Select({ name: "category_form_active", value: "", title: "Ativo", datas:[{value:"", label:"Selecione"}, {value:"1", label:"Sim"}, {value:"0", label:"Não"}] })
                +Select({ name: "category_form_level", value: "", title: "Level", datas:[{value:"", label:"Selecione"}, ...levelsSelectData] })
        div.group.right
            +ButtonSave()
            +ButtonCancel({ callback: `toggleModal('${modalId}')` })

script.
    const idField = document.getElementById('category_form_id');
    const slugField = document.getElementById('category_form_slug');
    const nameField = document.getElementById('category_form_name');
    const activeField = document.getElementById('category_form_active');
    const levelField = document.getElementById('category_form_level');
    
    const handleOpenFormModal = (modalId, id = '') => {        
        if (id) {
            fetch(`/culinary/categories/${id}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then((res) => {
                if (!res.ok) throw new Error('Algo de errado aconteceu.');
                return res.json()
            })
            .then(json => {
                if (idField) idField.value = json.id;
                if (slugField) {
                    slugField.value = json.slug;
                    slugField.disabled = false;
                }
                if (nameField) nameField.value = json.name;
                if (activeField) activeField.value = json.active;
                if (levelField) levelField.value = json.levelId;
                toggleModal(modalId);
            })
            .catch((err) => {
                console.error(err);
                alert(err.message);
            });
        } else {
            if (idField) idField.value = '';
            if (slugField) {
                slugField.value = '';
                slugField.disabled = true;
            }
            if (nameField) nameField.value = '';
            if (activeField) activeField.value = '';
            if (levelField) levelField.value = '';
            toggleModal(modalId);
        }
    }

    const handleSubmiteCategoryForm = async(e) => {
        e.preventDefault();
        const id = idField.value;
        const slug = slugField.value;
        const name = nameField.value;
        const active = activeField.value;
        const levelId = levelField.value;
        const method = id ? 'PUT' : 'POST'
        payload = { id, slug, name, levelId, active }
        fetch(`/culinary/categories/${id}`, {
            method,
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
      .then((res) => {
        if (!res.ok) throw new Error('Algo de errado aconteceu.');
        return res.json()
      })
      .then(json => {
        alert('Atualizado com sucesso');
        document.location.reload();
      })
      .catch((err) => {
        console.error(err);
        alert(err.message);
      });
    }

    const form = document.getElementById("_category_form");
    if (form) {
    form.addEventListener("submit", async function (e) {
        handleSubmiteCategoryForm(e);
    });
    }