style
  include styles.scss

div.header
  div.left
    span.show_menu
      i.fa-solid.fa-bars(onclick="showSideBar()" title="Abrir o menu")
  div.right
    a(href="/sign-in" title="Sair do sistema")
      i(class="fa-solid fa-arrow-right-from-bracket")