.header {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  -webkit-box-align: center;
  padding: 1rem 1.6rem;
  background-color: var(--blue800);
  color: var(--primary_light);
  min-height: 5rem;

  & * {
    color: var(--white);
  }
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

.show_menu {
  display: block;
  cursor: pointer;
  @media (min-width: 43.75em) {
    display: none;
  }
}
