include ../adsense/square/index.pug

style
    include styles.module.scss

footer.footer
  div.group.space_between
      +AdsSquare()
      |!{newsletterForm(dynamicPugFilePathFromVariable)}
      +AdsSquare()

  div.right
    p Desde 2006 pensando em você&nbsp;
      span.heart ❤️
    p powered by&nbsp;
      a(href="https://www.linkedin.com/in/zangeronimo" target="_blank" title="Ir para página do autor") /in/zangeronimo
