.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--secondary_light);
  color: var(--black);
  padding: 1rem;
  padding-right: 2rem;
  margin-top: auto;

  & span.heart {
    flex: 1;
    color: red;
  }

  & p.left {
    text-align: left;
    min-width: fit-content;
  }

  & p.right {
    min-width: fit-content;
    text-align: right;
  }
}
