.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--secondary_light);
  color: var(--black);
  padding: 1rem;
  padding-right: 2rem;
  margin-top: auto;

  & span.heart {
    flex: 1;
    color: red;
  }
}
