style
  include styles.module.scss

div.search_result
  h1.search_result_title Pesquisando por:&nbsp;
    span #{title}
  |!{recipeWithImage(dynamicPugFilePathFromVariable)}
  |!{recipeList(dynamicPugFilePathFromVariable)}

  p Não encontrou o que procura? tente usar uma palavra mais genérica na pesquisa.
